// Import page-specific CSS files here.
@import "home";

.banner {
  background-color: #BABCE2;
  padding-top: 10rem;
  padding-bottom: 10rem;

  color: #374375;
}

.form-container {
  width: 75%;
  height: 20%;
  background-color: #EBEAF0;
  align-items: center;

  padding: 2rem;
  margin-top: 2rem;

  backdrop-filter: blur(2px);
  border-radius: 10px;
}

.form-control {
  width: 12rem;
  border-radius: 10px;
  padding: 2rem;

  color: #BABCE2
}

h1 {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 60px;
}

p {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 60px;
}

.search-form {
  font-family: 'Funnel Display';
  font-style: normal;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-button {
  background-color: #374375;
  color: white;

  width: 8rem;

  border-radius: 10px;
  border: 1px solid #4a4a4a;
}
