<footer class="footer">

  <div class="footer-logos">
    <a href="https://facebook.com" target="_blank">
      <i class="fa-brands fa-square-facebook"></i>
    </a>
    <a href="https://instagram.com" target="_blank">
      <i class="fa-brands fa-square-instagram"></i>
    </a>
    <a href="https://x.com" target="_blank" >
      <i class="fa-brands fa-square-x-twitter"></i>
    </a>
  </div>

  <div class="footer-text">
    All rights reserved
  </div>
</footer>
