
  <nav class="navbar">
    <div class= "logo" >
      <%= image_tag "logo.png", alt: "Grand's logo" %>
    </div>
    <div class="nav-links">
    <ul>
      <li><a href="#explore">Explore</a></li>
      <li><a href="#profile">Profile</a></li>
      <li><a href="#chat">Chat</a></li>
      <li><%= link_to 'Sign-In', user_session_path, class: 'sign-in-link' %></li>
    </ul>
    </div>
  </nav>
