
  <nav class="navbar">
    <div class= "logo" >
      <%= image_tag "logo.png", alt: "Grand's logo" %>
    </div>
    <div class="nav-links">
    <ul>
      <li><a href="#explore">Explore</a></li>
      <li><a href="#profile">Profile</a></li>
      <li><a href="#chat">Chat</a></li>
      <li><a href="#sign-in" class="sign-in-link">Sign-In</a></li>
    </ul>
    </div>
  </nav>
