<div class="banner" style="background-image: url(<%= image_path("background-banner.jpg") %>);">
  <div class="container">
    <h1>Partagez un moment <br>d'émotion</h1>
    <%# <p>Change your life and learn to code at one of our campuses around the world.</p> %>
    <a class="btn btn-flat" href="#">Je découvre</a>
  </div>
</div>
