<h1>Coucou c'est les vieux</h1>

<% @elders.each do |elder| %>
  <p><%= elder.name %></p>
  <p><%= elder.description %></p>
  <p><%= elder.price %> €</p>
<% end %>

<%= link_to 'New Elder', new_elder_path %>
