.profile-container {
  width: 100%;
  position: relative;
  height: 70rem;
 }

 .profile-details {
  width: 100%;
  height: 50rem;
  background-color: #F7EDEC;
 }


 .background-image {
  width: 100%; /* Largeur complète */
  height: 100%;/* Hauteur que vous voulez */
  background-size: cover; /* L'image couvre toute la div */
  background-position: center;
  filter: grayscale(100%); /* Centre l'image */
}

 .profile-img img {
   width: 100%;
   height: 100%;
 }

 .show-avatar-container {
  transform: translate(-50%, -50%) rotate(0deg);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #FFFCF5;
  overflow: hidden;
  z-index: 3;
  margin-top: -380px;
  margin-left: 520px;
 }

 .avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 }

 .profile-content-container {
    position: absolute;
    margin-bottom: 16rem;
    bottom: 360px;
    background: #FFFCF5;
    box-shadow: 0px 2px 19px rgba(55, 67, 117, 0.1);
    border-radius: 20px;
    height: 400px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 11px;
    margin-left: 240px;
    margin-right: 240px;
    display: grid;
    grid-template-areas:
      "activity-name activity-name"
      "infos-user infos-activity";
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    z-index: 2;  /* Keep it behind the avatar */
 }

 .profile-content-card {
  text-align: center;
 }

 .activity-name-show {
  grid-area: activity-name;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #374375;
  font-family: "Funnel Display";
  text-align: center;
  padding-top: 105px;
 }

 .infos-user-show {
  grid-area: infos-user;
  text-align: left;
  line-height: 20px;
}

.infos-user-show p {
  font-family: 'Funnel Display';
  font-weight: bold;
  font-size: 20px;
  color: #374375;
  margin-bottom: 2rem;
}

.infos-activity-show {
  grid-area: infos-activity;
}

.infos-activity-show p {
  font-family: 'Helvetica';
  text-justify: left;
  text-align: left;
  font-size: 20px;
  color: #374375;
}

 .activity-description-show {
  font-size: 1rem;
  color: #374375;
  text-align: center;
  font-family: "Avenir Next", regular;
  margin-bottom: 20px;
 }

 .user-class {
  font-size: 1.2rem;
  color: #333;
 }


.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.button-container a {
  font-family: "Funnel Display";
  font-size: 20px;
  color: #BABCE2;
  font-weight: bold;
  padding: 10px;
  padding-left: 0px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: #374375;
  }

}
