.booking_button {
  font-weight: 700;
  font-size: 30px;
  margin: 2rem auto;

  padding: 5px;
  width: 1225px;

  background-color: #374375;
  color: white;

  display: flex;
  justify-content: space-between;
  vertical-align: middle;

  border-radius: 72px;
  border: 1px solid #374375;
}

.booking-btn {
  font-size: 24px;
  font-family: "Funnel Display";
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #374375;
  background-color: #FFFCF5;
  border-radius: 48px;
  text-align: center;
  border: 1px solid transparent;

  &:hover {
    background-color: #b9bce2;
    opacity: 0.9;
    color: #374375;
    border: 1px solid transparent;
  }

}
