.booking-index-container {
  background-color: #374375;
  padding-top: 10rem;
  padding-bottom: 5rem;
  height: 20rem;
  color: #FFFCF5;
}

.booking-index-container h1 {
  font-family: "Funnel Display";
  position: static;
  font-weight: bolder;
  color: #FFFCF5;
  font-size: 50px;
  padding-left: 8rem;
}

.booking-index-container p {
  font-family: "Helvetica";
  position: static;
  font-weight: lighter;
  color: #FFFCF5;
  font-size: 18px;
  padding-left: 8rem;
}

.booking-card-container {
  background-color: #F7EDEC;
}

.void-div {
  background-color: #F7EDEC;
  height: 6rem;
  width: 100vh;
}

.booking-index-cards h2 {
  font-family: "Funnel Display";
  font-weight: bolder;
  color: #374375;
  font-size: 30px;
  margin: 0;
  padding-bottom: 2.5rem;
}

.booking-index-cards h3 {
  font-family: "Funnel Display";
  font-weight: bolder;
  color: #374375;
  font-size: 36px;

  padding-top: 5rem;
  margin-left: 7rem;
  margin-bottom: 7rem;
}
