.booking-index-container {
  background-color: #374375;
  padding-top: 10rem;
  padding-bottom: 5rem;
  height: 60rem;
  color: #FFFCF5;
}

.booking-index-container h1 {
  font-family: "Funnel Display";
  position: static;
  font-weight: bolder;
  color: #FFFCF5;
  font-size: 50px;
  padding-left: 8rem;
}

.booking-index-container p {
  font-family: "Helvetica";
  position: static;
  font-weight: lighter;
  color: #FFFCF5;
  font-size: 18px;
  padding-left: 8rem;
}

.booking-card-container {
  background-color: #F7EDEC;
}

.void-div {
  background-color: #F7EDEC;
  height: 6rem;
  width: 100vh;
}

.booking-index-cards h2 {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 800;
  font-size: 1.3rem;

  padding-top: 5rem;
  padding-left: 8rem;

  color: #374375;
}
