.funnel-display-text {
  font-family: 'Funnel Display', sans-serif;
  font-weight: 600;
 }


 .logo img {
  height: 50px;
  max-width: 100%;
  padding-left: 6px;
  margin-top: 0.3rem;

  margin-left: 20px;
 }


 .navbar {
  position: relative;
  top: 0;
  left: 0;
  margin-top: -20px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #FFFCF5;
 }


 .nav-links {
  font-family: "Funnel Display", sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 15px;
  color: #BABCE2;
  margin: 0;
  padding: 0;
  margin-top: 0.3rem;
 }


 .nav-links li {
  display: inline-block;
 }


 .nav-links ul {
  margin: 0;
 }


 .nav-links a {
  text-decoration: none;
  color: #BABCE2;
  padding: 0 12px;
  height: 40px;
  line-height: 40px;
 }


 .nav-links a.profile-link {
  color: #DFAEA0;
  margin-right: 20px;
 }


 .nav-links a:hover {
  color: #374375
 }


 .nav-links a.profile-link:hover {
  color: #89525A
 }
