.search-banner {
  background-color: #BABCE2;
  padding-top: 15rem;
  padding-bottom: 8rem;
  color: #374375;
}

.search-banner h1 {
  font-family: "Funnel Display";
  position: static;
  font-weight: bolder;
  color: #374375;
  font-size: 70px;
  padding-bottom: 2rem;
}

.search-banner p {
  font-family: "Funnel Display";
  position: static;
  color: #EBEAF0;
  font-size: 20px;
}

.search-banner h3 {
  position: static;
  color: #374375;
  font-size: 20px;
  padding-bottom: 2rem;
  padding-left: 10px;
  margin: O;
}


input.form-control::placeholder {
  color: #BABCE2;
  font-family: "Funnel Display";
}


.form-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: #EBEAF0;
  align-items: center;
  padding: 2rem;
  backdrop-filter: blur(2px);
  border-radius: 25px;
}

.form-control {
  background-color: #FFFCF5 ;
  color: #BABCE2;
  padding-top: 8px;
  font-size: 20px;
  width: 33.3rem;
  border-radius: 17px;
  height: 3rem;
  text-anchor: middle;
  margin-right: 20px;
}

.search-form {
  display: flex;
  align-items: center;
  font-style: normal;
  font-family: "Avenir";
}

.search-button {
  background-color: #374375;
  font-weight: bolder;
  font-size: 20px;
  color: #FFFCF5 ;
  width: 8rem;
  border-radius: 15px;
  height: 2.5rem;
  padding-bottom: 1rem;

  &:hover {
    background-color: #FFFCF5;
    color: #374375;
  }
}
