.toggle-menu ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.toggle-menu li {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.toggle-menu li.active {
  background-color: #007bff;
  color: white;
}

.hidden {
  display: none; /* Cache la div */
}
// .content-section {
//   display: none;
// }

// .content-section.active {
//   display: block;
// }
