
.hidden {
  display: none; /* Cache la div */
}

.btn-toggle {
  // border: solid 2px #B9BCE2;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-toggle:hover {
  color: #374375;

  cursor: pointer;
}
